:root {
  --white: #FFFFFE;
  --black: #121826;
  --gray: #364153;
  --lightgray: #CED6E1;
  --blue: #406AFF;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.monaco-editor,
.overflow-guard {
  border-radius: 1rem;
  border: .1rem solid var(--lightgray);
  box-shadow: 0rem 0rem 5rem 0rem #36415340;
}

@media (max-width: 640px) {

  .monaco-editor,
  .overflow-guard {
    box-shadow: 0rem 0rem 2rem 0rem #36415340;
  }

}